* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5.5rem;
}

section {
  padding: 2rem 9%;
}

section:nth-child(even) {
  background: #eee;
}

.sub-heading {
  text-align: center;
  color: #ff80ab;
  font-size: 3.5rem;
  padding-top: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.heading {
  text-align: center;
  color: #ec407a;
  font-size: 3.5rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.btn1 {
  position: relative;
  margin-top: 0.5rem;
  padding: 0.5rem 0;
  text-decoration: underline;
  display: inline-block;
  font-size: 2rem;
  background: #fff;
  cursor: pointer;
}

.btn1:hover {
  color: #ec407a;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.7rem;
  color: #fff;
  background: #ec407a;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.8rem 3rem;
}

.btn:hover {
  background: #ec407988;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ff80ab;
  padding: 1rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
}

header .logo i {
  color: #fff;
}

header .navbar a {
  font-size: 2rem;
  margin: 1.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem 1rem;
  color: #fff;
  font-family: "Noto Sans TC", sans-serif;
}

header .navbar a.active,
header .navbar a:hover {
  color: azure;
  background-color: rgba(41, 48, 41, 0.13);
}

header .icon i,
header .icon a {
  cursor: pointer;
  margin-left: 0.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  font-size: 2rem;
  color: black;
  border-radius: 50%;
  background-color: #fff;
}

header .icon i:hover,
header .icon a:hover {
  color: azure;
  background-color: #ec407a;
}

header .icon #menu-bars {
  display: none;
}

#search-form {
  position: fixed;
  top: -110%;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1004;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

#search-form.active {
  top: 0;
}

#search-form #search-box {
  width: 50rem;
  border-bottom: 0.1rem solid #fff;
  padding: 1rem 0;
  color: #fff;
  font-size: 3rem;
  text-transform: none;
  background: none;
}

#search-form #search-box::placeholder {
  color: #eee;
}

#search-form label {
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
}

#search-form label:hover {
  color: #ec407a;
}

#search-form #close {
  position: absolute;
  color: #fff;
  cursor: pointer;
  top: 2rem;
  right: 3rem;
  font-size: 5rem;
}

.sign-in {
  position: fixed;
  top: -110%;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1004;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  background-color: rgba(0, 0, 0, 0.7);
}

.sign-in.active {
  top: 0;
}

.signIn-container {
  position: relative;
  width: 350px;
  height: 400px;
  background: #fe76a347;
  display: flex;
  border: 0.1rem solid #fe76a32d;
}

.signIn-form {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.signIn-form h3 {
  color: #fff;
  font-size: 2.5rem;
  letter-spacing: 5px;
  margin-bottom: 30px;
}

.signIn-form .user-box {
  width: 100%;
  margin-top: 20px;
}

.signIn-form .user-box input {
  width: 100%;
  padding: 1.5rem;
  background: rgba(0, 0, 0, 0.2);
  outline: none;
  border-radius: 30px;
  border: 0.1rem solid #ccc;
  box-shadow: #666;
  font-size: 16px;
  text-transform: lowercase;
  color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.signIn-form .user-box input::placeholder {
  color: #ccc;
}

.signIn-form .user-box input[type="submit"] {
  position: relative;
  background: #fff;
  color: black;
  max-width: 10rem;
  top: 2rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
  font-weight: 25;
  cursor: pointer;
  padding: 1rem;
}

.signIn-form #close1 {
  position: absolute;
  color: #fff;
  cursor: pointer;
  top: 2rem;
  right: 3rem;
  font-size: 5rem;
}

.home .home-slider .slide {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 9rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.home .home-slider .slide .content {
  flex: 1 1 45rem;
}

.home .home-slider .slide .image {
  flex: 1 1 45rem;
}

.home .home-slider .slide .image img {
  width: 100%;
}

.home .home-slider .slide .content h4 {
  color: #ec407a;
  font-size: 4rem;
}

.home .home-slider .slide .content h3 {
  color: #ff80ab;
  font-size: 4rem;
}

.home .home-slider .slide .content .offer {
  border: 0.3rem solid slategray;
  color: slategray;
  font-size: 2.2rem;
  padding: 1rem 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 15rem;
  margin-left: 2rem;
  line-height: 1.5;
}

.home .home-slider .slide .content .offer p {
  font-size: 16px;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background: #ec407a;
}

.dishes .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.dishes .box-container .box {
  background: #fff;
  position: relative;
  padding: 2rem 0;
  overflow: hidden;
  text-align: center;
  font-size: 16px;
}

.dishes .box-container .box .fa-heart {
  position: absolute;
  top: 12rem;
  background: #eee;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: black;
}

.dishes .box-container .box .fa-heart:hover {
  background: #ec407a;
  color: #fff;
}

.dishes .box-container .box .fa-heart {
  right: 1.5rem;
}

.dishes .box-container .box img {
  width: 100%;
}

.dishes .box-container .box h3 {
  padding: 2rem 0;
}

.dishes .box-container .box img:hover {
  transform: scale(1.5);
  transition: 0.7s ease;
  cursor: pointer;
}

.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.menu .box-container .box {
  background: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  box-shadow: 0.2px;
}

.menu .box-container .box .image {
  height: 25rem;
  width: 100%;
  padding: 1.5rem;
  overflow: hidden;
  position: relative;
}

.menu .box-container .box .image img {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}

.menu .box-container .box .image .fa-heart {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  text-align: center;
  font-size: 2rem;
  background: #fff;
  border-radius: 50%;
  color: black;
}

.menu .box-container .box .image .fa-heart:hover {
  background: #ec407a;
  color: #fff;
}

.menu .box-container .box .content {
  padding: 3rem;
  padding-top: 0;
}

.menu .box-container .box .content .start {
  padding-bottom: 1rem;
}

.menu .box-container .box .content .start i {
  font-size: 1rem;
  color: black;
}

.menu .box-container .box .content .start span {
  font-size: 14px;
}

.menu .box-container .box .content h3 {
  color: black;
  font-size: 2rem;
}

.menu .box-container .box .content p {
  color: slategray;
  font-size: 1.6rem;
  padding: 0.5rem 0;
  line-height: 1.5;
}

.menu .box-container .box .content .pice {
  color: black;
  margin-left: 1rem;
  font-size: 2rem;
}

.about .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
}

.about .row .image {
  flex: 1 1 45rem;
}

.about .row .image img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 45rem;
}

.about .row .content h3 {
  color: slategray;
  font-size: 1.5rem;
  padding: 1rem 0;
  line-height: 2;
}

.about .row .content h2 {
  font-size: 2rem;
  padding: 2.5rem 2rem;
  line-height: 2;
}

.about .row .content .icon-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem 0;
  margin-top: 0.5rem;
}

.about .row .content .icon-container .icon {
  background: #eee;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex: 1 1 10rem;
  padding: 1.5rem 1.5rem;
}

.about .row .content .icon-container .icon i {
  font-size: 2.5rem;
  color: #ec407a;
}

.about .row .content .icon-container .icon span {
  font-size: 1.3rem;
  color: black;
}

.review .slide {
  margin-top: 2rem;
  padding: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  position: relative;
}

.review .slide .fa-quote-right {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 4rem;
  color: #ccc;
}

.review .slide .user {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding-bottom: 2rem;
}

.review .slide .user img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
}

.review .slide .user h3 {
  color: black;
  font-size: 2rem;
  padding-bottom: 0.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.review .slide .user i {
  font-size: 1.3rem;
  color: rgb(17, 69, 17);
}

.review .slide p {
  font-size: 1.5rem;
  line-height: 2;
  color: slategray;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.order form {
  max-width: 90rem;
  border-radius: 0.5rem;
  box-shadow: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  background: #fff;
  padding: 1.5rem;
  margin: 0 auto;
}

.order form .inputBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.order form .inputBox .input {
  width: 49%;
}

.order form .inputBox .input span {
  display: block;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: slategray;
}

.order form .inputBox .input input,
.order form .inputBox .input textarea {
  background: #eee;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.6rem;
  color: black;
  text-transform: none;
  margin-bottom: 1rem;
  width: 100%;
}

.order form .inputBox .input input:focus,
.order form .inputBox .input textarea:focus {
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.order form .inputBox .input textarea {
  height: 20rem;
  resize: none;
}

.order form .btn {
  margin-top: 0;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  padding: 0.5rem 0;
  font-size: 2.5rem;
  color: black;
}

.footer .box-container .box a {
  display: block;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: slategray;
}

.footer .box-container .box a:hover {
  color: rgb(17, 69, 17);
  text-decoration: underline;
}

.footer .credit {
  text-align: center;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
  font-size: 2rem;
  color: black;
  padding: 0.5rem;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
}

.footer .credit span {
  color: rgb(17, 69, 17);
}

.lorder-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10000;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.lorder-container.fade-out {
  top: 110%;
  opacity: 0;
}

/*(media)*/
@media (max-width: 991px) {
  html {
    font-size: 50%;
  }

  header {
    padding: 1rem 2rem;
  }
  header .navbar a {
    color: #ff80ab;
  }
  header .navbar a.active,
  header .navbar a:hover {
    color: #ff80ab;
    background-color: rgba(41, 48, 41, 0.13);
  }

  .dishes .box-container .box .fa-heart {
    position: absolute;
    top: 7rem;
    z-index: 1003;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  header .icon #menu-bars {
    display: inline-block;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .navbar a {
    display: block;
    padding: 1.5rem;
    margin: 1rem;
    font-size: 2rem;
    background-color: #eee;
  }

  #search-form #search-box {
    width: 90%;
    margin: 0 1rem;
  }

  .dishes .box-container .box .fa-heart {
    position: absolute;
    top: 0rem;
    z-index: 1003;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .dishes .box-container .box img {
    height: auto;
    width: 100%;
  }

  .order form .inputBox .input {
    width: 100%;
  }
}
